*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

/* potentially fix the column so that it doesn't take full width */
h2, h3{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    flex-direction: column;
    background: wheat;
    padding:20px;
    min-height: fit-content;
    border-radius: 10px;
    margin: 30px 30px;
    border: 1px solid #eee;
}

h3{
    color: black;
}

header {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    flex-direction: column;
    background: whitesmoke;
    padding:20px;
    min-height: fit-content;
    border-radius: 10px;
    margin: 30px 30px;
    border: 1px solid #eee;
}

body{
display: flex;
flex-direction: column;    
height: 120vh;
margin: 0;
font-family: 'Poppins', sans-serif;
background-image: url('https://source.unsplash.com/1600x900/?landscape');
background-size: cover;
background-repeat: no-repeat;
font-size: 130%;
max-height: 100; 
}

main {
    display: flex;
}

#city-selected{
    display: absolute;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 40px;
    background: rgba(184, 179, 179, 0.9);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 30px;
    border: 1px solid #eee;
    font-size: 20px;
    flex-direction: column;
}

#upcoming-forecast{
    display: flex;
    /* width: 50%; */
    height:500px;
    margin:20px;
    justify-content: space-between;
    background: rgba(184, 179, 179, 0.9);
    color: #fff;
    padding: 20px;
    width: fit-content;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}

.minMax {
    font-size: 18px;
}
.forecast-card {
    font-size: 16px;
    display: flex; 
    margin: 30px;
    flex-direction: column;
}

.forecast-card p{
    font-size:18px
}

.searching {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    border-block-end: solid rgb(57, 54, 59);
    border-radius: 10px;
    width: fit-content;
    
}

.searching button {
    margin-bottom: 20px;
}

button {
    line-height: 2.5;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(110, 110, 110);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1189px) {
    .content {
        width: 100%;
        margin-right: 20px;
        margin-top: 20px;
    }

    .page {
        flex-wrap: wrap;
    }

    .search-result {
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-direction: column;
        width: 95%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .results {
        width: fit-content;
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: center;
    }

    #upcoming-forecast {
        width: auto;
    }
}

@media screen and (max-width: 880px) {

    button {
        width: 30%;
        margin: 3px;
    }

    .searching button {
        width: 100%;
    }
}

@media screen and (max-width: 810px) {

    button {
        width: 40%;
        margin: 3px;
    }
}


@media screen and (max-width: 745px) {

    #upcoming-forecast {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {

    button {
        width: 95%;
        margin: 3px;
    }
}
